@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,900;1,700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 15rem);
}

body {
    background-color: #222;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}


#myName {
    color: blueviolet;
    font-weight: 900;
}

#introHero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 80vh;
}
#phone {
    height: 400px;
    order: 1;
}

h1 {
    
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

p {
    max-width: 400px;
}

.scrollLink {
    position: static;    
    transform: translateY(90%);
}

#secondHero {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    padding: 2rem;
}

.purple {
    color: blueviolet;
    font-weight: 900;
}

.gridElement > div {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: #fff 1px 1px 2px;
}

@media (max-width:850px){
    #phone {
        order: 0;
    }
   #secondHero {
        grid-template-columns: 1fr;
   }
   
}